@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

::selection {
    background-color: #f05123;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 14px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #fff; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #6e6e6e; /* color of the scroll thumb */
    border-radius: 16px; /* roundness of the scroll thumb */
    border: 4px solid #fff; /* creates padding around scroll thumb */
}

input,
button {
    outline: none;
}

ul,
li {
    list-style-type: none;
}

.slick-arrow {
    border-radius: 100%;
    z-index: 2;
    padding: 7px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.slick-arrow:hover {
    background-color: #fff;
    color: #000;
}

.slick-prev {
    left: -16px;
}

.slick-next {
    right: -16px;
}

.slick-arrow.slick-next:before {
    content: "";
}

.slick-arrow.slick-prev:before {
    content: "";
}

.slick-list {
    border-radius: 16px;
}

.slick-dots {
    bottom: -35px;
    text-align: left;
    margin-left: 30px;
}

.slick-dots li:not(:last-child) {
    margin-right: 30px;
}

.slick-dots li button:before {
    width: 40px;
    height: 8px;
    border-radius: 16px;
    content: "";
    background-color: #000;
    transition: all 0.4s linear;
}

.slick-dots li.slick-active button:before {
    width: 46px;
}

.theme-1 {
    background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
}

.theme-2 {
    background: linear-gradient(
        to right,
        rgb(104, 40, 250),
        rgb(255, 186, 164)
    );
}

.theme-3 {
    background: linear-gradient(to right, rgb(136, 40, 250), rgb(89, 169, 250));
}

.theme-4 {
    background: linear-gradient(to right, rgb(253, 34, 92), rgb(253, 144, 4));
}

.theme-5 {
    background: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
}

.theme-6 {
    background: linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2));
}

.theme-7 {
    background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));
}
